/* REMOVING ARROW TO DECREMENT OR INCREMENT INPUT NUMBER (phone) */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.contact-block {

    &__header {
        width: 111rem;
        height: 48rem;
        margin: 0 auto 16rem;
        background-image: url("../../contact/src/img/background.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        border-radius: 15px;

        @include first {
            width: auto;
            margin: 0 5rem;
        }

        @include st-cont {
            background: url("../../contact/src/img/bg-mid.png");
            background-size: 100%;
            height: 75rem;

            flex-direction: column;
            align-items: center;
            gap: 6rem;
        }


        @include nd-cont {
            height: 67rem;
        }

        @include tablet {
            height: 71.1rem;
            background-size: auto;
        }

        @include fifth {
            margin: 0 2.4rem;
        }

        @include rd-cont {
            background: url("../../contact/src/img/bg-mobile.png");
        }

        @include fifth-loca {
            margin: 0;
            border-radius: 0;
        }

        &__textarea {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 44.5rem;
            height: 10.4rem;
            margin-top: 10rem;
            margin-left: 9.5rem;
            margin-right: 9rem;

            @include first {
                margin-top: 6rem;
                margin-left: 5.8rem;
                margin-right: 4.5rem;
            }

            @include st-loca {
                width: 38.5rem;
            }

            @include st-cont {
                width: auto;
            }

            @include fifth {
                width: 87%;
            }

            @include fifth-loca {
                text-align: center;
            }

            &__title {
                font-family: $jost;
                font-style: normal;
                font-weight: 500;
                font-size: 4.8rem;
                color: $white;

                @include fifth-loca {
                    font-size: 3.8rem;
                }
            }

            &__text {
                font-family: $jost;
                font-style: normal;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.8rem;
                color: $white;

                @include fifth-loca {
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__formular {
        width: 38rem;
        height: 37.1rem;
        margin-top: 3rem;

        @include st-cont {
            margin-top: 10rem;
        }

        @include st-cont {
            width: 87%;
        }


        &__form {
            display: flex;
            flex-direction: column;
            &__name {
                @include input-style;
            }

            &__email {
                @include input-style;
            }

            &__phone {
                @include input-style;
            }

            &__message {
                resize: none;
                margin-top: 2rem;
                @include input-style;
            }

            &__submit {
                @include button-style-white;
                margin: 2.4rem 0 0 23rem;

                @include st-loca {
                    margin-left: 18rem;
                }

                @include st-cont {
                    margin: 2.4rem 0 0 23rem;
                }

                @include rd-cont {
                    margin-left: 11rem;
                }

                @include fifth-loca {
                    margin-left: 8rem;
                }

                
            }
        }
    }

    &__locations {
        max-width: 100rem;
        margin: 0 auto 16rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include st-loca {
            margin: 16rem 6rem;
            justify-content: center;
            gap: 5.6rem;
        }

        @include st-cont {
            flex-direction: column;
            align-items: center;
            gap: 8.6rem;
        }

        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__image {
            width: 100%;
            margin-bottom: 4.8rem;
        }

        &__title {
            text-align: center;
            font-family: $jost;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.6rem;
            letter-spacing: 5px;
            color: $black;
            text-transform: uppercase;
            margin-bottom: 3.2rem;
        }

        &__button {
            @include button-style-red;
        }
    }
}