@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* BREAKPOINTS */
/* ABOUT US BREAKPOINTS */
/* LOCATIONS BREAKPOINTS */
/* CONTACT BREAKPOINTS */
/* GLOBAL */
/* INPUT FORM -> contact.html */
/* LOCATIONS */
/* PAGE LOCATION */
/*****************/
/* MEDIA QUERIES */
/*****************/
/************************/
/* ABOUT US BREAKPOINTS */
/************************/
/*************************/
/* LOCATIONS BREAKPOINTS */
/*************************/
/***********************/
/* CONTACT BREAKPOINTS */
/***********************/
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STYLE */
html {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
}
@media screen and (max-width: 1160px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 880px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 59.5%;
  }
}
@media screen and (max-width: 520px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 410px) {
  html {
    font-size: 45%;
  }
}

a {
  text-decoration: none;
}

/**/
/* NAVIGATION /
/**/
.main-nav {
  max-width: 111.1rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 6.5rem;
  margin-bottom: 7rem;
  align-items: center;
}
@media screen and (max-width: 1160px) {
  .main-nav {
    margin: 6rem 5rem 7rem;
  }
}
@media screen and (max-width: 620px) {
  .main-nav {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    margin-left: 2.4rem;
    position: relative;
  }
  .main-nav .inactive {
    transform: translateX(-100%);
  }
}
.main-nav .logo-header {
  width: 19.5rem;
}
.main-nav .main-nav-list {
  display: flex;
  gap: 4.2rem;
  align-items: center;
  list-style: none;
  position: relative;
  transition: all 0.3s;
}
@media screen and (max-width: 620px) {
  .main-nav .main-nav-list {
    position: absolute;
    top: 59px;
    left: -23px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    padding-left: 2.6rem;
    background-color: #1D1C1E;
    width: 100vw;
    color: #fff;
    z-index: 55;
  }
  .main-nav .main-nav-list::after {
    content: "";
    position: absolute;
    top: 290px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(51, 49, 54, 0.4549019608);
    z-index: -4;
  }
}
.main-nav .main-nav-list .main-nav-link:link,
.main-nav .main-nav-list .main-nav-link:active,
.main-nav .main-nav-list .main-nav-link:visited {
  font-size: 1.4rem;
  color: #333136;
  text-decoration: none;
  text-transform: uppercase;
  /* for the after */
  position: relative;
}
@media screen and (max-width: 620px) {
  .main-nav .main-nav-list .main-nav-link:link,
.main-nav .main-nav-list .main-nav-link:active,
.main-nav .main-nav-list .main-nav-link:visited {
    color: #fff;
    font-size: 2.9rem;
  }
}
.main-nav .main-nav-list .main-nav-link:link::after,
.main-nav .main-nav-list .main-nav-link:active::after,
.main-nav .main-nav-list .main-nav-link:visited::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  transform-origin: bottom right;
  background-color: #333136;
}
.main-nav .main-nav-list .main-nav-link:link:hover::after,
.main-nav .main-nav-list .main-nav-link:active:hover::after,
.main-nav .main-nav-list .main-nav-link:visited:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* HAMBURGER */
.hamburger {
  position: relative;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  display: none;
}
@media screen and (max-width: 620px) {
  .hamburger {
    display: flex;
  }
}

.hamburger span {
  position: absolute;
  width: 35px;
  height: 4px;
  background: #000;
  transition: 0.5s;
}

.hamburger span:nth-child(1) {
  transform: translateY(-15px);
  width: 35px;
}

.hamburger.active span:nth-child(1) {
  width: 35px;
  transform: translateY(0px) rotate(45deg);
}

.hamburger span:nth-child(2) {
  transform: translateY(15px);
  width: 35px;
}

.hamburger.active span:nth-child(2) {
  transform: translateY(0px) rotate(315deg);
  width: 35px;
}

.hamburger.active span:nth-child(3) {
  transform: translateX(60px);
}

/* SECTION MAP */
.section-map {
  margin-bottom: 16rem;
}
@media screen and (max-width: 768px) {
  .section-map {
    margin-bottom: 12rem;
  }
}
.section-map .article-map {
  max-width: 108rem;
  margin: 0 auto 3.2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
@media screen and (max-width: 1160px) {
  .section-map .article-map {
    margin: 0 5rem 3.2rem;
  }
}
@media screen and (max-width: 980px) {
  .section-map .article-map {
    flex-direction: column-reverse;
    margin-bottom: 12rem;
  }
}
@media screen and (max-width: 550px) {
  .section-map .article-map {
    margin: 0 2.4rem 8rem 2.4rem;
  }
}
@media screen and (max-width: 375px) {
  .section-map .article-map {
    margin: 0 0 4rem 0;
    gap: 0;
  }
}
.section-map .article-map .map {
  border-radius: 15px;
}
@media screen and (max-width: 980px) {
  .section-map .article-map .map {
    display: none;
  }
}
.section-map .article-map .address-map {
  width: 100%;
  background: url("../../locations/src/img/location_background.png");
  border-radius: 15px;
  padding: 8.8rem 0 0 9.5rem;
}
@media screen and (max-width: 1035px) {
  .section-map .article-map .address-map {
    padding: 8.8rem 0 0 5.5rem;
  }
}
@media screen and (max-width: 980px) {
  .section-map .article-map .address-map {
    height: 34.2rem;
    background: url("/locations/src/img/bg-mid.png");
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .section-map .article-map .address-map {
    height: 32.6rem;
    background: url("/locations/src/img/bg-mid.png");
  }
}
@media screen and (max-width: 600px) {
  .section-map .article-map .address-map {
    padding: 8.6rem 0 0 4rem;
  }
}
@media screen and (max-width: 550px) {
  .section-map .article-map .address-map {
    background: url("/locations/src/img/bg-mobile.png");
    background-size: initial;
    height: 39.4rem;
    padding: 8rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 375px) {
  .section-map .article-map .address-map {
    padding: 4rem 0 0 0;
    border-radius: 0px;
  }
}
.section-map .article-map .address-map .address-country {
  font-size: 4rem;
  font-weight: 500;
  color: #e7816b;
  line-height: 48px;
  margin-bottom: 2.6rem;
}
@media screen and (max-width: 550px) {
  .section-map .article-map .address-map .address-country {
    text-align: center;
  }
}
.section-map .article-map .address-map .address-contact {
  display: flex;
  gap: 9.5rem;
}
@media screen and (max-width: 600px) {
  .section-map .article-map .address-map .address-contact {
    gap: 6.5rem;
  }
}
@media screen and (max-width: 550px) {
  .section-map .article-map .address-map .address-contact {
    flex-direction: column;
    gap: 2.4rem;
  }
}
@media screen and (max-width: 550px) {
  .section-map .article-map .address-map .address-contact {
    text-align: center;
  }
}
.section-map .article-map .address-map .address-contact .address h2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 26px;
}
.section-map .article-map .address-map .address-contact .address p {
  font-size: 1.6rem;
  line-height: 26px;
  color: #333136;
}
.section-map .article-map .address-map .address-contact .contact h2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 26px;
}
.section-map .article-map .address-map .address-contact .contact p {
  font-size: 1.6rem;
  line-height: 26px;
  color: #333136;
}

/* SECOND ELEMENT REVERSE */
.article-map:nth-child(2) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 980px) {
  .article-map:nth-child(2) {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 375px) {
  .article-map:nth-child(2) {
    gap: 0;
  }
}

/* */
.map-mid {
  display: none;
}
@media screen and (max-width: 980px) {
  .map-mid {
    display: block;
    /*       height: 32.6rem; */
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .map-mid {
    display: none;
  }
}

/*  */
.map-mob {
  display: none;
  border-radius: 15px;
}
@media screen and (max-width: 550px) {
  .map-mob {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .map-mob {
    border-radius: 0px;
  }
}

/* FOOTER */
.footer .block {
  /* Block juste au dessus du header */
  position: relative;
  z-index: 1;
  background-image: url("../../src/img/global/footer.png");
  background-position: center;
  background-size: cover;
  max-width: 111.1rem;
  height: 29.2rem;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1160px) {
  .footer .block {
    margin: 0 5rem 0;
    max-width: none;
  }
}
@media screen and (max-width: 768px) {
  .footer .block {
    height: 35rem;
  }
}
@media screen and (max-width: 520px) {
  .footer .block {
    margin: 0 2.8rem 0;
  }
}
.footer .block__area {
  width: 111.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 11.8rem 0 9.5rem;
}
@media screen and (max-width: 768px) {
  .footer .block__area {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: initial;
    margin: 0 auto;
  }
}
.footer .block__textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .footer .block__textarea {
    text-align: center;
    margin-bottom: 3.2rem;
  }
}
.footer .block__title {
  max-width: 26.8rem;
  font-weight: 500;
  font-size: 4rem;
  line-height: 4rem;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .footer .block__title {
    max-width: 33.5rem;
    margin: auto;
  }
}
.footer .block__text {
  width: 45.9rem;
  max-height: 5.2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #FFFFFF;
}
@media screen and (max-width: 620px) {
  .footer .block__text {
    width: 88%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 520px) {
  .footer .block__text {
    margin-bottom: 2.4rem;
  }
}
.footer .block__button {
  width: 15.2rem;
  height: 5.6rem;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 1.5rem;
  color: #333136;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.footer .block__button:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  cursor: pointer;
}
.footer__footer {
  /* Footer global */
  position: absolute;
  background-color: #1D1C1E;
  width: 100%;
  height: 39.3rem;
  margin-top: -10rem;
}
@media screen and (max-width: 700px) {
  .footer__footer {
    height: initial;
  }
}
.footer__links {
  /* Logo et navbar (Premiere section du footer) */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 101.1rem;
  margin: 4rem 16.5rem;
  padding-top: 14.4rem;
}
@media screen and (max-width: 768px) {
  .footer__links {
    margin: 4rem 4rem;
  }
}
@media screen and (max-width: 700px) {
  .footer__links {
    flex-direction: column;
    align-items: center;
  }
}
.footer__logo {
  width: 15.7rem;
}
@media screen and (max-width: 700px) {
  .footer__logo {
    margin-bottom: 3.2rem;
  }
}
.footer__line {
  border-top: 1px solid #FFFFFF;
  opacity: 0.1;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3.1rem;
}
@media screen and (max-width: 700px) {
  .footer__line {
    display: none;
  }
}
.footer .nav__list {
  display: flex;
  flex-direction: row;
  gap: 4.2rem;
  list-style: none;
}
@media screen and (max-width: 700px) {
  .footer .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
}
.footer .nav__links {
  color: #FFFFFF;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration-line: none;
}
.footer .nav__links:hover {
  text-decoration-line: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.footer .info {
  /* Adresse, contact, ... (2 ème section du footer) */
  display: flex;
  flex-direction: row;
  gap: 12rem;
  max-width: 101.1rem;
  margin: 0 16.5rem;
}
@media screen and (max-width: 880px) {
  .footer .info {
    margin: 0 9.5rem;
  }
}
@media screen and (max-width: 768px) {
  .footer .info {
    margin: 0 3.9rem;
    gap: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .footer .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer .info__adress {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 1.6rem;
  line-height: 2.6rem;
  max-width: 35rem;
}
.footer .info__adress .bold {
  font-weight: 700;
}
.footer .info__contact {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  max-width: 35rem;
}
.footer .contact__link {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .social {
  /* Liens des réseaux sociaux (3ème section du footer) */
}
.footer .social__list {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  justify-content: flex-end;
  margin: 0px 11.6rem 7.2rem 0px;
  position: relative;
  bottom: 4.2rem;
  list-style: none;
}
@media screen and (max-width: 880px) {
  .footer .social__list {
    margin: 0 8rem 7.2rem 2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer .social__list {
    margin: 0 3.9rem 8rem 2rem;
  }
}
@media screen and (max-width: 700px) {
  .footer .social__list {
    justify-content: center;
    bottom: -5rem;
    margin: 0 auto 6.4rem;
    padding-bottom: 5rem;
  }
}
.footer .social__links:hover {
  filter: brightness(0) saturate(100%) invert(69%) sepia(67%) saturate(338%) hue-rotate(318deg) brightness(100%) contrast(102%);
}

.hidden {
  border-top: 1px solid #FFFFFF;
  opacity: 0.1;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 3.1rem;
  display: none;
}
@media screen and (max-width: 700px) {
  .hidden {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
}/*# sourceMappingURL=locations-style.css.map */