@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* GLOBAL */
/* INPUT FORM -> contact.html */
/* LOCATIONS */
/* PAGE LOCATION */
/* INDEX */
/**/
/* NAVIGATION /
/**/
.main-nav {
  max-width: 111.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-top: 6.5rem;
  margin-bottom: 7rem;
}
.main-nav .logo-header {
  width: 19.5rem;
}
.main-nav .main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
}
.main-nav .main-nav-list .main-nav-link:link,
.main-nav .main-nav-list .main-nav-link:active,
.main-nav .main-nav-list .main-nav-link:visited {
  font-size: 1.4rem;
  color: #333136;
  text-decoration: none;
  text-transform: uppercase;
  /* for the after */
  position: relative;
}
.main-nav .main-nav-list .main-nav-link:link::after,
.main-nav .main-nav-list .main-nav-link:active::after,
.main-nav .main-nav-list .main-nav-link:visited::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  background-color: #333136;
}
.main-nav .main-nav-list .main-nav-link:link:hover::after,
.main-nav .main-nav-list .main-nav-link:active:hover::after,
.main-nav .main-nav-list .main-nav-link:visited:hover::after {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.design__block__header {
  width: 111.1rem;
  height: 25.2rem;
  margin: 0 auto;
}
.design__block__header__image {
  background-image: url("../../../design/src/img/header_block.png");
  background-size: cover;
  width: 111.1rem;
  min-height: 25.2rem;
}
.design__block__header__textarea {
  height: 25.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6.4rem;
}
.design__block__header__textarea__title {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 4.8rem;
  text-align: center;
  color: #FFFFFF;
}
.design__block__header__textarea__text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  color: #FFFFFF;
  max-width: 41rem;
}

.design__pannel {
  width: 111rem;
  margin: 0 auto;
  margin-top: 16rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3.2rem;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "pannel-one pannel-two pannel-three" "pannel-four pannel-five pannel-six";
}

.pannel-one {
  grid-area: pannel-one;
}

.pannel-two {
  grid-area: pannel-two;
}

.pannel-three {
  grid-area: pannel-three;
}

.pannel-four {
  grid-area: pannel-four;
}

.pannel-five {
  grid-area: pannel-five;
}

.pannel-six {
  grid-area: pannel-six;
}

.pannel {
  width: 35rem;
  height: 47.8rem;
}
.pannel__image {
  width: 35rem;
}
.pannel__image__background {
  border-radius: 25px 25px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.pannel__textarea {
  background: rgba(255, 173, 155, 0.2);
  border-radius: 0px 0px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pannel__textarea:hover {
  background: #E7816B;
}
.pannel__textarea:hover #title, .pannel__textarea:hover #text {
  color: white;
}
.pannel__textarea__title {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: #E7816B;
  margin-bottom: 1.6rem;
  padding-top: 2rem;
  text-transform: uppercase;
}
.pannel__textarea__text {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  color: #1D1C1E;
  padding-bottom: 3.2rem;
  max-width: 26rem;
}

/*******************/
/* SECTION GALLERY */
/*******************/
html {
  font-size: 62.5%;
}

.section-gallery {
  margin-bottom: 16rem;
}

.maskin {
  width: 54.1rem;
  height: 30.8rem;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: visible;
  border: 260px solid rgba(231, 129, 107, 0.5);
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 108.2rem;
  margin: auto;
  margin-top: 16rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 2.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-box {
  position: relative;
  width: 54.1rem;
  height: 30.8rem;
  overflow: hidden;
  border-radius: 25px;
}
.img-box .img-link:link:hover .maskin,
.img-box .img-link:active:hover .maskin,
.img-box .img-link:active:hover .maskin {
  width: 54.1rem;
  height: 30.8rem;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 1;
  overflow: visible;
  border: 260px solid rgba(231, 129, 107, 0.5);
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.img-box .img-link:link .img-text-box,
.img-box .img-link:active .img-text-box,
.img-box .img-link:active .img-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img-link-title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  width: 40rem;
}

.img-link-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.168rem;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.img-link-text .arrow-right {
  position: absolute;
  top: 6px;
  right: 26%;
}

/* FOOTER */
.footer {
  width: 100vw;
}
.footer .block {
  /* Block juste au dessus du header */
  position: relative;
  z-index: 1;
  background-image: url("../../src/img/global/footer.png");
  background-position: center;
  background-size: cover;
  max-width: 111.1rem;
  height: 29.2rem;
  margin: 0 auto;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .block__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  margin-left: 9.5rem;
  margin-right: 30.9rem;
}
.footer .block__title {
  max-width: 26.8rem;
  font-weight: 500;
  font-size: 4rem;
  line-height: 4rem;
  color: #FFFFFF;
}
.footer .block__text {
  width: 45.9rem;
  max-height: 5.2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #FFFFFF;
}
.footer .block__button {
  width: 15.2rem;
  height: 5.6rem;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 1.5rem;
  color: #333136;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.footer .block__button:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  cursor: pointer;
}
.footer__footer {
  /* Footer global */
  position: absolute;
  background-color: #1D1C1E;
  width: 100vw;
  height: 39.3rem;
  margin-top: -10rem;
}
.footer__links {
  /* Logo et navbar (Premiere section du footer) */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 101.1rem;
  margin: 4rem 16.5rem;
  padding-top: 14.4rem;
}
.footer__logo {
  width: 15.7rem;
}
.footer__line {
  border-top: 1px solid #FFFFFF;
  opacity: 0.1;
  width: 75rem;
  margin: 0 auto;
  margin-bottom: 3.1rem;
}
.footer .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4.2rem;
  list-style: none;
}
.footer .nav__links {
  color: #FFFFFF;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.footer .nav__links:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.2);
          text-decoration-color: rgba(255, 255, 255, 0.2);
}
.footer .info {
  /* Adresse, contact, ... (2 ème section du footer) */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12rem;
  max-width: 101.1rem;
  margin: 0px 16.5rem;
}
.footer .info__adress {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 1.6rem;
  line-height: 2.6rem;
  max-width: 35rem;
}
.footer .info__adress .bold {
  font-weight: 700;
}
.footer .info__contact {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  max-width: 35rem;
}
.footer .contact__link {
  text-decoration: none;
  color: #FFFFFF;
}
.footer .social {
  /* Liens des réseaux sociaux (3ème section du footer) */
}
.footer .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.6rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px 11.6rem 7.2rem 0px;
  position: relative;
  bottom: 4.2rem;
  list-style: none;
}
.footer .social__links:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(69%) sepia(67%) saturate(338%) hue-rotate(318deg) brightness(100%) contrast(102%);
          filter: brightness(0) saturate(100%) invert(69%) sepia(67%) saturate(338%) hue-rotate(318deg) brightness(100%) contrast(102%);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* STYLE */
html {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=webdesign-style.css.map */