/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* STYLE */

html {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.5%;
    font-family: $jost;

    @include first {
     font-size: 55%;
    }

    @include second {
      font-size: 50%;
    }

    @include tablet {
      font-size: 62.5%;
    }
    
}

a {
    text-decoration: none;
}

/**/
/* NAVIGATION /
/**/

.main-nav {
    max-width: 111.1rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 6.5rem;
    margin-bottom: 7rem;
    
    @include first {
      margin: 6rem 5rem 7rem;
     }
  
    .logo-header {
      width: 19.5rem;
    }
  
    .main-nav-list {
      display: flex;
      gap: 4.2rem;
  
      align-items: center;
      list-style: none;
  
      .main-nav-link:link,
      .main-nav-link:active,
      .main-nav-link:visited {
        font-size: 1.4rem;
        color: #333136;
        text-decoration: none;
        text-transform: uppercase;
  
        /* for the after */
        position: relative;
  
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          transform: scaleX(0);
          transition: transform 0.4s ease;
          transform-origin: bottom right;
          background-color: #333136;
        }
  
        &:hover::after {
          transform-origin: bottom left;
          transform: scaleX(1);
        }
      }
    }
  }