@import "variables";
@import "mixin";

@import "reset";

html {
    width: 100vw;
    overflow: hidden;
    font-size: 62.5%;
}

.footer {
    background-color: $black;
    width: 100vw;
    height: 393px;
}