.landpage__about{
    margin: 16rem auto;
    background: url(../../about-us/src/img/background.png);
    background-repeat: no-repeat;
    border-radius:1.5rem;
    border-left: 0px;
    width: 111.1rem;
    height: 48rem;
    display:flex;
 
     @include st-about {
         width: 100rem;
     }
 
     @include nd-about {
         height: 54.6rem;
     }
 
     @include rd-about {
 
         width: 90rem;
         height: 60rem;
     }

     @include fourth-about {
         height: 45rem;
     }

     @include tablet {
        width: 90%;
    }
    }
    .landpage__about__us{
        border-radius: 1.5rem;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;

        @include fourth-about {
            height: 45rem;
        }
    }
    .land__about__tittle{
        padding-top: 13.6rem;
        padding-left: 9.5rem;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 500;
        font-size: 4.8rem;
        line-height: 4.8rem;
        color: rgba(255, 255, 255, 1);
 
        @include rd-about {
            padding-top: 2.8rem;
        }
 
        @include fourth-about {
         padding-top: 11rem;
         padding-left: 4.5rem;
     }
    }
    
    .landpage__about__founded{
        margin: 3.2rem 9.5rem;
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.6rem;
        color:rgba(255, 255, 255, 1);
 
        @include fourth-about {
         margin: 3.2rem 4.25rem;
     }
    }
 
    .landpage__about__second{
        display:flex;
        margin:16rem auto;
        background: url("../../about-us/src/img/Group.png");
        width: 111.1rem;
        height: 64rem;
        left: 16.5rem;
        top: 79.5rem;
        border-radius: 15px;
 
         @include st-about {
         width: 100rem;
        }
 
        @include nd-about {
         height: 72.7rem;
        }
 
         @include rd-about {
 
         width: 90rem;
         height: 48.5rem;
        }
 
         @include fourth-about {
         height: 48.5rem;
        }

        @include tablet {
            width: 90%;
        }

 
        .landpage__about__talent{
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;

            @include rd-about {
                width: 36rem;
            }
        }

        .landpage__about__tittle__two{
            padding-top: 15.4rem;
            padding-left: 9.5rem;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 500;
            font-size: 4.8rem;
            line-height: 4.8rem;
            color:rgba(231, 129, 107, 1);
 
            @include rd-about {
 
             padding-left: 5.5rem;
             padding-top: 7rem;
             margin-bottom: -7rem;
         }   
        }
        .landpage__about__crew{
            margin:9rem 9rem;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.6rem;
            color:rgba(51, 49, 54, 1);
 
             @include rd-about {
 
                 margin-left: 5.2rem;
         }
 
            @include fourth-about {
                 margin: 9.2rem 5rem;
         }
         
        }
    
    }
    .landpage__about__third{
        margin: auto;
        display: flex;
        justify-content: center;
        gap: 3rem;

        @include tablet {
            width: 90%;
            flex-direction: column;
        }

        .landpage__about__location{
        justify-items: center;
        flex-direction: column;
        display:flex;
        align-items: center;
        width:35rem;
 
        @include st-about {
         width: 30rem;
        }
 
        @include rd-about {
        width: 25rem;
        }

        

        
 
        .landpage_about__logo{
            margin-bottom: 4rem;
        }
        .landpage__about__pais{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 500;
            font-size: 1.5rem;
            text-align: center;
            letter-spacing: 0.5rem;
            margin-bottom: 3.2rem;
            
            
        }
        .landpage__about__location{
            display: flex;
            justify-content: center;
            
            align-items: center;
            text-decoration: none;
            letter-spacing: 0.1rem;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 2.2rem;
            color:rgba(255, 255, 255, 1);
            background: rgba(231, 129, 107, 1);
            border-radius: 0.8rem;
            width: 15.2rem;
            height: 5.4rem;
            padding: 0.4rem;
           
 
        }
        .landpage__about__location:hover{
            background-color: rgb(134, 75, 61);
        }
 
        }
    
    }
        
    .landpage__about__fourth{
        display:flex;
        margin:16rem auto;
        background: url(../../about-us/src/img/Group.png);
        width: 111.1rem;
        height: 64rem;
        left: 16.5rem;
        top: 79.5rem;
        border-radius: 15px;
 
         @include st-about {
             width: 100rem;
         }
 
         @include nd-about {
             height: 72.7rem;
         }
 
         @include rd-about {
             width: 90rem;
             height: 72.6rem;
         }

         @include tablet {
             width: 90%;
         }
 
         
 
        .landpage__about__textbehind__three{
        flex-direction: flex-end;
        .landpage__about__tittle__four{
            padding-top: 15.4rem;
            padding-left: 9.5rem;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 500;
            font-size: 4.8rem;
            line-height: 4.8rem;
            color:rgba(231, 129, 107, 1);
 
            @include rd-about {
             padding-left: 8rem;
             padding-top: 10rem;
             margin-bottom: -7rem;
         }   
        }
        .landpage__about__partners{
            margin:9rem 9rem;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.6rem;
            color:rgba(51, 49, 54, 1)
        }
        .landpage__about__partners__two{
            margin-bottom: auto;
            margin:-5rem 9rem;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.6rem;
            color:rgba(51, 49, 54, 1)
        }
        }
    }
    .landpage__about__image__four{
           display: flex;
            .landpage__about__deal{
                border: top right radius 1.5rem; ;
                border: bottom right radius 1.5rem; ;
                width: 47.6rem;
            }
            
        }
 