@import "../../../src/scss/global/abstracts/fonts";
@import "../../../src/scss/global/abstracts/variables";
@import "../../../src/scss/global/abstracts/mixin";

/* INDEX */
@import "../../../src/scss/global/header";
@import "section-about";
@import "../../../src/scss/global/footer";

body {
    @include fourth-about {
        font-size: 50%;
    }
}