@import "../../../src/scss/global/abstracts/fonts";
@import "../../../src/scss/global/abstracts/variables";
@import "../../../src/scss/global/abstracts/mixin";

/* INDEX */
@import "../../../src/scss/global/header";
@import "section-about";
@import "../../../src/scss/global/footer";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
   font-size: 62.5%;
   font-family: $jost;
}
        