/* GLOBAL */

@mixin button-style-white {
    width: 15.2rem;
    height: 5.6rem;
    background: $white;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: $dark-grey;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover {
       background: $white-opacity;
       color: $white;
       cursor: pointer;
    }
}

@mixin button-style-red {
    width: 15.2rem;
    height: 5.6rem;
    background: $peach;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    &:hover {
       background: $peach-opacity;
       color: $white;
       cursor: pointer;
    }

}

/* INPUT FORM -> contact.html */

@mixin input-style {
    background: transparent;
    border: none;
    width: 39rem;
    height: 5rem;
    outline: none;
    color: $white;

    &::placeholder {
        color: $white-opacity;
    }

    &:placeholder-shown {
        border-bottom: 1px solid $white;
    }

    &:not(:placeholder-shown) {
        border-bottom: 2px solid $white;
    }
}

/* LOCATIONS */

@mixin head1 {
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 4.8rem;
  }
  
  @mixin head2 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.8rem;
    letter-spacing: 2px;
  }
  
  @mixin head3 {
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 5px;
  }
  
  @mixin body {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  @mixin headgallery {
    font-size: 4rem;
    font-weight: 500;
    line-height: 4rem;
    letter-spacing: 2px;
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }
  
  @mixin textgallery {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.168rem;
    letter-spacing: 2px;
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* PAGE LOCATION */
  
  @mixin loca-title {
    font-size: 4rem;
    font-weight: 500;
    color: #e7816b;
    line-height: 48px;
  }
  
  @mixin loca-text {
    font-size: 1.6rem;
    line-height: 26px;
    color: #333136;
  }
  

/* MEDIA QUERIES */

@mixin first {
  @media screen and (max-width: #{$first-breakpoint}) {
    @content;
  }
}

@mixin second {
  @media screen and (max-width: #{$second-breakpoint}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet-breakpoint}) {
    @content;
  }
}

@mixin fourth {
  @media screen and (max-width: #{$nd-tablet-breakpoint}) {
    @content;
  }
}

@mixin fifth {
  @media screen and (max-width: #{$rd-tablet-breakpoint}) {
    @content;
  }
}