$white: #FFFFFF;
$white-opacity: rgba(255, 255, 255, 0.5);
$black: #1D1C1E;
$dark-grey: #333136;
$rec-color: #f1f3f5;
$peach: #E7816B;
$peach-opacity: rgb(231, 129, 107, 0.5);
$light-peach: #FFAD9B;
$light-peach-opacity: rgba(255, 173, 155, 0.2);
$jost: 'Jost', sans-serif;


/* BREAKPOINTS */
$first-breakpoint: 1160px;
$second-breakpoint: 880px;
$tablet-breakpoint: 768px;
$nd-tablet-breakpoint: 700px;
$rd-tablet-breakpoint: 620px;
$fourth-tablet-breakpoint: 520px;
$five-tablet-breakpoint: 410px;


/* ABOUT US BREAKPOINTS */
$st-brk-aboutUs: 1300px;
$nd-brk-aboutUs: 1160px;
$rd-brk-aboutUs: 940px;
$fourth-brk-aboutUs: 880px;

/* LOCATIONS BREAKPOINTS */
$st-brk-locations: 1035px;
$nd-brk-locations: 980px;
<<<<<<< HEAD
$rd-brk-locations: 600px;
$fourth-brk-locations: 550px;
$fifth-brk-locations: 375px;



/* CONTACT BREAKPOINTS */
$st-brk-contact: 900px;
$nd-brk-contact: 830px;
$rd-brk-contact: 490px;
=======

/* ABOUT US BREAKPOINTS */
$st-brk-aboutUs: 1300px;
$nd-brk-aboutUs: 1160px;
$rd-brk-aboutUs: 940px;
$fourth-brk-aboutUs: 880px;
>>>>>>> 86256442d2263d04bbd01fd8896bbf7094060008
