$white: #FFFFFF;
$white-opacity: rgba(255, 255, 255, 0.5);
$black: #1D1C1E;
$dark-grey: #333136;
$rec-color: #f1f3f5;
$peach: #E7816B;
$peach-opacity: rgb(231, 129, 107, 0.5);
$light-peach: #FFAD9B;
$light-peach-opacity: rgba(255, 173, 155, 0.2);
$jost: 'Jost', sans-serif;


/* BREAKPOINTS */
$first-breakpoint: 1160px;
$second-breakpoint: 880px;
$tablet-breakpoint: 768px;
$nd-tablet-breakpoint: 700px;
$rd-tablet-breakpoint: 620px;
$fourth-tablet-breakpoint: 520px;